body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(45deg, aqua, blue);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700s;
}
p{
    color: dimgray;
}
.dream{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.experience{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fullstack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, darkblue);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}